body{ 
  background: #879e76; 
  color: #5c635c;
  font-weight: 540;
  font-family: Arial, Helvetica, sans-serif;
  margin-left:15px;
  margin-right:5px;
}
h1{ 
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 20px; 
   color: #efffef;
}
p{ 
  font-size: 14px; 
}
.container{ 
  margin-top: 5px; 
  width: 800px; 
  margin: 0 auto; 
  text-align: justify;
  margin-bottom : 15px;
}


.header h1{
  font-weight: normal; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 50px; 
}

.rest{
  border: 2px solid #e5efd2;
  border-radius: 12px;
}

.contact{
  text-align: center;
}
.info h1 {
  margin-left:15px;
  margin-right:5px;
}
.info p {
  margin-left:20px;
  margin-right:10px;
}
.info li {
  margin-left:25px;
  margin-right:5px;
}

section.info ul{list-style-image:url('files/robot-solid.svg'); list-style: none; margin: 0; padding: 0;}
section.info ul li {font-size: 14px; padding: 0 10px; }
section.info ul li a{ text-decoration: none; color: #efffef; transition: all .2s;  }

section.info a {
   text-decoration: none; 
   color:#efffef;
   transition: all .2s;
}
.robot:hover{
   color:#0088cc;
}
.boteros:hover{
   color:#333;
}

section.contact ul{ list-style: none; margin: 0; padding: 0; display: inline-block; }
section.contact ul li{ float: left; font-size: 36px; padding: 0 10px; }
section.contact ul li a{ text-decoration: none; color: #efffef; transition: all .2s;  }

.fa-telegram:hover{
    color:#0088cc;
}
.fa-telegram:hover ~ .rest{
	border: 2px solid #0088cc;
  	border-radius: 12px;
}
.fa-github:hover{
    color:#333;
}
.fa-linkedin:hover{
    color:#0077b5;
}
.fa-stack-overflow:hover{
    color:#f48024;
}
.fa-python:hover{
    color:#4584b6;
}
.fa-java:hover{
    color:#ff0000;
}
.fa-php:hover{
    color:#8892be;
}
.fa-html5:hover{
    color:#e34f26;
}
.fa-css3-alt:hover{
    color:#64CBEA;
}
.fa-js:hover{
    color:#f7df1e;
}
