body{ 
  background: #879e76; 
  color: #efffef;
  font-family: Arial, Helvetica, sans-serif;
}
h1{ 
   font-weight: normal; 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 30px; 
}
p{ 
  font-size: 16px; 
}
.container{ 
 
  width: 400px; 
  margin: 0 auto; 
  text-align: justify;
}
.header h1{
  font-weight: normal; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 50px; 
}
section.contact ul{ list-style: none; margin: 0; padding: 0; display: inline-block; }
section.contact ul li{ float: left; font-size: 36px; padding: 0 10px; }
section.contact ul li a{ text-decoration: none; color: #ccc; transition: all .2s;  }

a{text-decoration: none; color: #EEE; font-weight: bold;}
a:hover{color: #999;}
.fa-telegram:hover{
    background-color: #0088cc;
    color:white;
}
.fa-twitter:hover{
    background-color: #1da1f2;
    color: #f5f8fa;
}
.fa-github:hover{
    background-color:#333;
    color:#f5f5f5;
}
.fa-linkedin:hover{
    background-color: #0077b5;
    color:white;
}
